<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <title>Document</title>
</head>
<body>
    <div class = 'wrapper'>
        <header>
            <h1><a href="/">Generator gości</a></h1>
        
        </header>
        <section>

        
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem ipsum eos veritatis, necessitatibus autem est consectetur quisquam quo quod doloremque iusto officiis voluptates similique in id, ad eius nemo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae, ipsa. Minus numquam similique cupiditate nemo, quae exercitationem eius, in, ad quos unde doloribus quisquam ea nulla necessitatibus dicta blanditiis aut!     Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error molestiae magnam earum enim, neque odit eligendi corrupti quia facere sapiente velit veniam cumque ducimus blanditiis sed dolorum quas voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quasi provident id, optio illum sapiente nemo qui nihil quibusdam aut tenetur sequi animi tempore dolorem corporis expedita dicta odit repellat.</p>
            
                
         
        </section>
        <section>
        
            <div class="containers">
                <a href="/guests">Obejrzyj liste</a>
            </div>
            <div class="containers">
                <a href="guests/add">Dodaj gości</a>
            </div>
        </section>
    </div>
</body>
</html>