<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/questAdd.css">
    
    <title>Document</title>
</head>
<body>
    <div class = 'wrapper'>
        <header>
            <h1><a href="/">Generator gości</a></h1>
        
        </header>
        <section>
            <form action="/guests/Submit_add" method="POST">
                <h2>Dodaj gościa:</h2>
                 <input type="text" name="name">
                <button type="submit" value="submit" >Send</button>
            </form>
            <div class="container">
                <a href="/guests">obejrzyj liste</a>
            </div>

        </section>
      
     
    

      
        
    </div>
</body>
</html>