<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
   
    <title>Document</title>
</head>
<body>
    <div class = 'wrapper'>
        <header>
        <h1>Generator gości</h1>
        </header>
        <section>
            <div class='container'>
                <p>Obejrzyj swoją liste gości</p>
                <a href="/guests">Obejrzyj</a>
            </div>
            <div class='container middle'>
                <p>Wiesz kogo musisz zaprosić ??</p>
               
                <a href="/guests/add">Dodaj</a>
            </div>
            <div class='container'>
                <p>Chcesz sie dowiedzieć jaki jest cel tej aplikacji?</p>
                <a href="/about"> Dowiedz sie</a>
            </div>
            <div style="clear:both;"></div>
        </section>
      
        
    </div>
</body>
</html>